body {
    background: #886451;  
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 30px;
}
.chatBox {
    background: #885159;
    font-size: 20px;
}

#title {
  text-align: center;
  color: white;
} 
#chatroom {
  text-align: center; 
  color: #645188;
}

.scroll {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap:break-word;
}

.messageBox {
   border: 2px solid black;
}
.showbox {
   width: 100%;
   margin: 0;
}

#messages {
    float: left;
    background-color: #528881;
    color: white;
    width: 80%;
}
#members {
    float: left;
    background-color: white;
    color: black;
    width: 20%;
}
.inputBox {
    width: 100%;
    height: 110px;
    background-color: white;
    overflow: hidden;
}
#messageInput {
    width: 100%;
    height: 70%;    
}
#messageSubmit {
    float: right;
    width: 40%;
    margin-top: 0;
    padding-bottom: 5px;
}
