body {
    background: #886451;
    
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 30px;
}
.chatBox {
    
}
header {
    background-color: #645188, url("images/background.JPG");
}
.redtitle {
    color: red;
}

.scroll {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap:break-word;
}

#messageInput {
    width: 99%;
    height: 100px;
    margin-bottom: 0px;
}

#messageSubmit {
    width: 80px;
    height: 20px;
    margin-top: 0px;
}

.messageBox {
   border: 2px solid black;
}
.inputBox {
    background-color: white;
}